@(message: String)

@main("Pulse") {



<!-- <script src="@routes.Assets.versioned("javascripts/jquery-2.2.1.js")" type="text/javascript"></script>
 <script src="@routes.Assets.versioned("javascripts/bootstrap.js")" type="text/javascript"></script> -->

<!-- <script src="@routes.Assets.versioned("javascripts/MasterDetail.js")" type="text/javascript"></script> -->
 <script src="@routes.Assets.versioned("javascripts/HRSpline.js")" type="text/javascript"></script>

<!-- <script src="@routes.Assets.versioned("javascripts/fetchHR.js")" type="text/javascript"></script>
 <script src="@routes.Assets.versioned("javascripts/fetchMasterHR.js")" type="text/javascript"></script>

 <script src="@routes.Assets.versioned("javascripts/fetchSleep.js")" type="text/javascript"></script>

 <script src="@routes.Assets.versioned("javascripts/fetchSedentaryMinutes.js")" type="text/javascript"></script>
 <script src="@routes.Assets.versioned("javascripts/fetchWeight.js")" type="text/javascript"></script> -->



 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>


 <h1>Dashboard: </h1><p id="uName">@message</p><br>

 <p id="HRMessage"></p>
 <div id="HRSpline" style="min-width: 310px; height: 400px; margin: 0 auto"></div><br><br>
 <p> Historical Heart Rate Data:</p>
 <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

 <!-- Nav tabs -->
 <ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#One" role="tab" data-toggle="tab">Current</a></li>
  <li><a href="#Two" role="tab" data-toggle="tab">Historical</a></li>
 </ul>

 <!-- Tab panes -->
 <div class="tab-content">

  <div class="tab-pane active" id="One">


  </div>

  <div class="tab-pane" id="Two">


  </div>

 </div>

 <footer>Disclaimer: Pulse is not a medical device.</footer>
}
